.muke-list-wrap{padding:30px;width:940px;}
.muke-list-wrap .fl{float:left;}
.muke-list-wrap .fr{float:right;}
.muke-list{width:440px;overflow:hidden;}
.muke-list ul{margin-top:5px;}
.muke-list li{font:14px/24px '微软雅黑';overflow:hidden;border-bottom:#e5e5e5 1px dashed;}
.muke-list li a{color:#666;float:left;width:410px; line-height:35px;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;}
.muke-list li span{width:8px;height:7px;float:left;background-position:-102px -290px;margin:16px 14px 0 4px;_display:inline;}
.muke-title{height:42px;line-height:42px;border-bottom:#d5d5d5 1px solid;}
.muke-title .title-txt{font:20px/42px '微软雅黑';float:left;}
.muke-title .more{float:right;background-position:-69px -290px;width:20px;height:20px;margin-top:19px;}
i,.lest-btn,.next-btn,.muke-blogroll .corre,.muke-share a,.resource-down .down-top a,.muke-search .btn,.muke-list li span,.muke-title .more,.resource-down .reso-fn span{background:url("muke-ico.png") no-repeat;_background:url("muke-ico.gif") no-repeat;}
.muke-title .more{float:right;background-position:-69px -290px;width:20px;height:20px;margin-top:19px;}