<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{if isset($SEO['title']) && !empty($SEO['title'])}{$SEO['title']}{/if}{$SEO['site_title']}</title>
<meta name="keywords" content="{$SEO['keyword']}">
<meta name="description" content="{$SEO['description']}">
<link rel="stylesheet" href="{APP_PATH}statics/sina/css/style_school.css" type="text/css" />
<script language="javascript" src="{APP_PATH}statics/sina/js/jquery-1.8.0.js" ></script>
<script language="javascript" src="{APP_PATH}statics/sina/js/common.js" ></script>
</head>

{template "content","header_nav"}

<div class="wrap"> 
  
  <!-- 收藏公开课 begin -->
  
  <div class="blk_login">
    <p class="lf fred"><a class="saveBtn" href="javascript:void(0)" onclick="addFavorite(window.location.href,document.title)">收藏新浪公开课</a></p>
    <script type="text/javascript">

function addFavorite(sURL, sTitle){

    try{

        window.external.addFavorite(sURL, sTitle);

    }

    catch (e){

        try{

            window.sidebar.addPanel(sTitle, sURL, "");

        }

        catch (e){

            //

        }

    }          

}



</script> 
  </div>
  
  <!-- 收藏公开课 end  --> 
  
  <!-- main --> 
  
 
  
  <!--part01 start-->
  <div class="part01 clearfix">
    <div class="p_l">
      <div class="cont_bg">
        <div class="cont">
          <div class="tit03  clearfix">
            <h2><span class="tt zxkc">最新课程</span></h2>
          <!--   <p class="rt"><span>显示方式：</span> <em class="show show1_cur">行列</em> <a href="http://open.sina.com.cn/school/id_106/page_1/mn_0/" class="show show2">行排</a> 
              
        四种状态：show1,show1_cur,show2,show2_cur
              
            </p> -->
          </div>
          <div class="blk01">
{loop $video_data $i $r}
 
 
            <div class="vido">
              <div class="pic">
			  <a href="{$r[url]}" target="_blank">
			  <img height="90" width="120" src="statics/sina/images/d.gif" data-src="{$r[thumb]}" ></a></div>
              <p class="tit fbluel"><a target="_blank" href="{$v[url]}">
			  
				{$r[title]}
			</a></p>
              <p class="intro">人气：<i>
			  
<?php
$hitsid = 'c-11-'.intval($r['id']);
$hit_model = pc_base::load_model('hits_model');
$hit = $hit_model->get_one(array('hitsid'=>$hitsid),'views');
echo $hit['views'];
?> 
			  
			  </i></p>
            </div>
	

		
 {/loop}

            
          </div>
          <div class="blk02">
            <p class="page" >
				{$sina_pages}
			</p>
          </div>
        </div>
      </div>
    </div>
    <div class="p_r">
      <div class="sub02" id="sub02">
        <div class="sub02_t">
          <h2><a class="best">最受欢迎的公开课</a></h2>
          <span id="sub02_t1">总</span> <span id="sub02_t2">周</span> <span id="sub02_t3">月</span> </div>
          <div id="sub02_c1" class="sub02_c">
  <ul class="list02">

{pc:content action="hits"  num="9" order="views DESC"}
{php $i =1}
	{loop $data $r}
	
		 <li> <em>{$i}</em>
			 <a target="_blank" href="{$r[url]}">
			 {$CATEGORYS[$r[catid]][catname]}:{$r[title]}
			 </a>
		 <span class="data">{$r[views]}</span> </li>
{php $i++}
	{/loop}
{/pc}

            </ul>
          </div>
		  
                 <div style="display:none" id="sub02_c2" class="sub02_c">
            <ul class="list02">
{pc:content action="hits" num="9" order="weekviews DESC"}
{php $i =1}
	{loop $data $r}
	
		 <li> <em>{$i}</em>
			 <a target="_blank" href="{$r[url]}">
			 {$r[title]}
			 </a>
		 <span class="data">{$r[views]}</span> </li>
{php $i++}
	{/loop}
{/pc}
            </ul>
          </div>
		  
		  <div style="display:none" id="sub02_c3" class="sub02_c">
            <ul class="list02">
{pc:content action="hits"  num="9" order="monthviews DESC"}
{php $i =1}
	{loop $data $r}
	
		 <li> <em>{$i}</em>
			 <a target="_blank" href="{$r[url]}">
			 {$r[title]}
			 </a>
		 <span class="data">{$r[views]}</span> </li>
{php $i++}
	{/loop}
{/pc}</li>
            </ul>
          </div>
      </div>
      <script type="text/javascript" language="javascript">

                <!--//--><![CDATA[//><!--

                var SubShow_02 = new SubShowClass("sub02","onmouseover");

                SubShow_02.addLabel("sub02_t1","sub02_c1");

                SubShow_02.addLabel("sub02_t2","sub02_c2");

                SubShow_02.addLabel("sub02_t3","sub02_c3");

                //--><!]]>

        </script>
      <div class="blk03">
        <div class="tit01">
          <h2>推荐课程</h2>
        </div>
{pc:content  action="position" posid="1" order="listorder DESC" num="9"  moreinfo="1"}
     {loop $data $r}
	  {php $img = explode('.',$v[local_video])}
		{php $src = $img[0]}
 
	  <div class="pictxt addAtt">
          <div  class="pic"> <img src="uploadfile/thumb/{$src}.jpg" width="50" height="50" />  </div>
          <div class="txt">
            <h2 class="fblue"> <a href="{$r[url]}" target="_blank">{$r[title]}</a> </h2>
         
          </div>
        </div>

       {/loop}  
 {/pc}			
        
      
       
      </div>
    
    </div>
  </div>
  
  <!--part01 end--> 
  

</div>
<div class="wrap"> 
  
  <!--part02 start-->
  
  <div class="part02">
    <div class="tit02">
      <h2 class="fbluel"><a target="_blank" href="url" onclick="javascript:void(0); return false;">讲师</a></h2>
    </div>
    <div class="blk05 clearfix" id="scr_cont1">
      <div class="pics fblue clearfix">
 {pc:content  action="lists"  order="updatetime DESC"  return="info" num="12"}   


 {loop $info $v} 

  <div class="pic"> 
 
  <img width="72" height="72"  src="{$v[tea]}"> <span>
  <i class="">{$v[tea_name]}</i></span> 
  </div>
 {/loop}
 {/pc}  
	  
       
       
      </div>
    </div>
  </div>
  
  <!--part02 end-->
  
  <div class="part_b2t" ><a href="#" target="_self" class="b2t" hidefocus>back2Top</a></div>
  
  <!-- end main --> 
  
</div>
<script src="{APP_PATH}statics/sina/js/move.js"></script>
<!-- footer -->

<div style="padding: 15px; font-size: 12px; line-height: 20px; text-align: center;" class="footer">
{pc:get sql="SELECT * FROM v9_page where catid='53'" return="page_data"}

  {loop $page_data $v}
  
											
										
		{$v[content]}
										
  
{/loop}
{/pc}

</div>
</body>
</html>
