<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{if isset($SEO['title']) && !empty($SEO['title'])}{$SEO['title']}{/if}{$SEO['site_title']}</title>
        <meta name="keywords" content="{$SEO['keyword']}">
            <meta name="description" content="{$SEO['description']}">
                <link rel="stylesheet" href="{APP_PATH}statics/sina/css/style_school.css" type="text/css" />
                <script language="javascript" src="{APP_PATH}statics/sina/js/jquery-1.8.0.js" ></script>
                <script language="javascript" src="{APP_PATH}statics/sina/js/common.js" ></script>
                </head>
                {template "content","header_nav"}
                {php die();}
                <div class="wrap"> 
                    <div class="blk_login">
                        <p class="lf fred"><a class="saveBtn" href="javascript:void(0)" onclick="addFavorite(window.location.href, document.title)">收藏</a></p>
                        <script type="text/javascript">
                            function addFavorite(sURL, sTitle) {
                                try {
                                    window.external.addFavorite(sURL, sTitle);
                                }
                                catch (e) {
                                    try {
                                        window.sidebar.addPanel(sTitle, sURL, "");
                                    }
                                    catch (e) {
                                    }
                                }
                            }
                        </script> 
                    </div>
                    <!--part school intro start-->
                    <div class="part_school clearfix">
                        <div class="p_l">
                            <div class="cont">
                                <div class="tit04">{$CATEGORYS[$catid][catname]}</div>
                                <div class="blk07">
                                    <div class="pic"> 
                                        {pc:content  action="position" posid="19" order="listorder DESC" num="1" catid="$catid" moreinfo="1"}
                                        {loop $data $r}
                                        {php $img = explode('.',$r[local_video])}
                                        {php $src = $img[0]}		  
                                        <a href="{$r[url]}" target="_blank"><img src="{$r[thumb]}" width="660" height="285"/> </a> </div>
                                    <div class="txt_bg"></div>
                                    <div class="txt">
                                        <h3 class="update">what?</h3>
                                        <h4>
                                            <a href="{$r[url]}" target="_blank">

                                                {$r[title]}</a></h4>
                                        <p>{$r[description]}</p>
                                        <p> <a href="{$r[url]}" target="_blank" class="vidoPlay">{$r[title]}</a></p>
                                        {/loop}  
                                        {/pc}  
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="p_r">
                            <div class="blk08">
                                <div class="tit05">
                                    <h2>
                                        <div class="tt tIntro"></div>
                                    </h2>
                                </div>
                                <div class="pictxt">
                                    <div class="pic"> <img src="statics/sina/images/d.gif" data-src="{thumb($CATEGORYS[$catid][image])}" width="72" height="72" alt="{$CATEGORYS[$catid][catname]}" title="{$CATEGORYS[$catid][catname]}"/> </div>
                                    <div class="bire"></div>
                                    <div class="txt">
                                        <p style="padding:5px 0px 5px 100px;">{$CATEGORYS[$catid][catname]}</p>
                                        <p style="padding:0px 0px 10px 100px;">{$CATEGORYS[$catid][description]}</p>
                                        <p title="">
                                            {$CATEGORYS[$catid][description]}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="part01 clearfix">
                        <div class="p_l">
                            <style>
                                #search-data{margin:10px 0;}
                                #search-data .searchitem em {
                                    background-color: #06F;
                                    color: #fff;
                                    padding: 2px 4px;
                                }
                                #search-data .searchitem a, #search-data .searchitem em {
                                    padding: 0 4px;
                                }
                                address, cite, dfn, em, var {
                                    font-style: normal;
                                }
                            </style>
                            <div  id="search-data"  style="background-color:#FFF">
                                <dl class="searchitem">
                                    <dt class="blue"><span>年级：</span> <span style="display:inline-block;width:590px;vertical-align:top">{loop filters('nianji',$modelid) $r}
                                        {$r[menu]}
                                        {/loop} </span></dt>
                                </dl>
                                <dl class="searchitem">
                                    <dt class="blue"><span>学科：</span> <span style="display:inline-block;width:590px;vertical-align:top">{loop filters('xueke',$modelid) $r}
                                        {$r[menu]}
                                        {/loop} </span></dt>
                                </dl>  
                                <dl class="searchitem">
                                    <dt class="blue"><span>学段：</span> <span style="display:inline-block;width:590px;vertical-align:top">{loop filters('xueduan',$modelid) $r}
                                        {$r[menu]}
                                        {/loop} </span></dt>
                                </dl>       
                            </div>
                            <div class="cont_bg">
                                <div class="cont">
                                    <div class="tit03  clearfix">
                                        <h2><span class="tt zxkc"></span></h2>
                                    </div>
                                    <div class="blk01">
                                        {php $sql = structure_filters_sql($modelid);}
                                        <?php
                                        //echo $sql;
                                        //exit();
                                        ?>
                                        {php $urlrule = makeurlrule()}
                                        {pc:content  action="lists" catid="$catid" where="$sql" order="updatetime DESC"  return="info" moreinfo="1" page="$page"  urlrule="$urlrule"}   
                                        {php $l = count($info)}
                                        {loop $info $v} 
                                        {php $img = explode('.',$v[local_video])}
                                        {php $src = $img[0]}
                                        <div class="vido">
                                            <div class="pic">
                                                <a href="{$v[url]}" target="_blank">
                                                    <img height="90" width="120" src="statics/sina/images/d.gif" data-src="{$v[thumb]}" ></a></div>
                                            <p class="tit fbluel"><a target="_blank" href="{$v[url]}">
                                                    {$v[title]}
                                                </a></p>
                                            <p class="intro">人气:<i>
                                                    <?php
                                                    $hitsid = 'c-11-'.intval($v['id']);
                                                    $hit_model = pc_base::load_model('hits_model');
                                                    $hit = $hit_model->get_one(array('hitsid'=>$hitsid),'views');
                                                    echo $hit['views'];
                                                    ?> 
                                                </i></p>
                                        </div>
                                        {/loop}
                                        {/pc}

                                    </div>
                                    <div class="blk02">
                                        <p class="page" >
                                            {$pages}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="p_r">
                            <div class="sub02" id="sub02">
                                <div class="sub02_t">
                                    <h2><a class="best"></a></h2>
                                    <span id="sub02_t1">总</span> <span id="sub02_t2">周</span> <span id="sub02_t3">月</span> </div>
                                <div id="sub02_c1" class="sub02_c">
                                    <ul class="list02">
                                        {pc:content action="hits"  num="9" catid="$catid" order="views DESC"}
                                        {php $i =1}
                                        {loop $data $r}
                                        <li> <em>{$i}</em>
                                            <a target="_blank" href="{$r[url]}">
                                                {$CATEGORYS[$r[catid]][catname]}:{$r[title]}
                                            </a>
                                            <span class="data">{$r[views]}</span> </li>
                                        {php $i++}
                                        {/loop}
                                        {/pc}
                                    </ul>
                                </div>
                                <div style="display:none" id="sub02_c2" class="sub02_c">
                                    <ul class="list02">
                                        {pc:content action="hits" catid="$catid" num="9" order="weekviews DESC"}
                                        {php $i =1}
                                        {loop $data $r}
                                        <li> <em>{$i}</em>
                                            <a target="_blank" href="{$r[url]}">
                                                {$CATEGORYS[$r[catid]][catname]}:{$r[title]}
                                            </a>
                                            <span class="data">{$r[views]}</span> </li>
                                        {php $i++}
                                        {/loop}
                                        {/pc}
                                    </ul>
                                </div>
                                <div style="display:none" id="sub02_c3" class="sub02_c">
                                    <ul class="list02">
                                        {pc:content action="hits" catid="$catid" num="9" order="monthviews DESC"}
                                        {php $i =1}
                                        {loop $data $r}
                                        <li> <em>{$i}</em>
                                            <a target="_blank" href="{$r[url]}">
                                                {$CATEGORYS[$r[catid]][catname]}:{$r[title]}
                                            </a>
                                            <span class="data">{$r[views]}</span> </li>
                                        {php $i++}
                                        {/loop}
                                        {/pc}</li>
                                    </ul>
                                </div>
                            </div>
                            <script type="text/javascript" language="javascript">
                                var SubShow_02 = new SubShowClass("sub02", "onmouseover");
                                SubShow_02.addLabel("sub02_t1", "sub02_c1");
                                SubShow_02.addLabel("sub02_t2", "sub02_c2");
                                SubShow_02.addLabel("sub02_t3", "sub02_c3");
                            </script>
                            <div class="blk03">
                                <div class="tit01">
                                    <h2>推荐的公开课</h2>
                                </div>
                                {pc:content  action="position" posid="1" order="listorder DESC" num="7" catid="$catid" moreinfo="1"}
                                {loop $data $r}
                                {php $img = explode('.',$v[local_video])}
                                {php $src = $img[0]}
                                <div class="pictxt addAtt">
                                    <div  class="pic"> <img src="{$r[thumb]}" width="50" height="50" />  </div>
                                    <div class="txt">
                                        <h2 class="fblue"> <a href="{$r[url]}" target="_blank">{$CATEGORYS[$r[catid]][catname]}: {$r[title]}</a> </h2>
                                    </div>
                                </div>
                                {/loop}  
                                {/pc}			
                            </div>
                        </div>
                    </div>
                </div>
                
                               <div class="wrap"> 
                     <!--part02 start-->
                     <div class="part02">
                         <div class="tit02">
                             <h2 class="fbluel"><a target="_blank" href="url" onclick="javascript:void(0);
                                     return false;">分类</a></h2>
                         </div>
                         <div class="blk05 clearfix" id="scr_cont1">
                             <div class="pics fblue clearfix">
                                 {pc:content  action="category" catid="$catid" siteid="$siteid" order="listorder ASC"}   
                                 {loop $data $r} 
 <?php print_r($r);?>
                                <div class="pic"> 
                                   <a href="{$r[url]}"><img width="72" height="72"  src="{$r[url]}"></a> 
                                      <span><i class="">{$r[catname]}</i></span> 
                               </div>
                               {/loop}
                            {/pc}  
                            </div>
                        </div>
                    </div>
                    <!--part02 end-->
                      <div class="part_b2t" ><a href="#" target="_self" class="b2t" hidefocus>back2Top</a></div>
                      <!-- end main --> 
                  </div>
                  
                  
                <script src="{APP_PATH}statics/sina/js/move.js"></script>
                <!-- footer -->
                <div style="padding: 15px; font-size: 12px; line-height: 20px; text-align: center;" class="footer">
                    {pc:get sql="SELECT * FROM v9_page where catid='53'" return="page_data"}
                    {loop $page_data $v}
                    {$v[content]}
                    {/loop}
                    {/pc}
                </div>
                </body>
                </html>

