@charset "utf-8";
body{margin:0 auto;padding:0;background:#FFF;color:#333;font:12px/1.5 宋体,Arial,sans-serif}
*{margin:0;padding:0;border:0;word-break: break-all;}
body > div{text-align:left;margin-right:auto;margin-left:auto;}
table{border-collapse:collapse;border-spacing:0;}
img,a img{border:0;margin:0;padding:0;}
fieldset,img{border:0;}
address,caption,cite,code,dfn,em,th,var{font-style:normal;font-weight:normal;}
h1,h2,h3,h4,h5,h6{margin:0;padding:0;font-size:100%;}
ul,ol,li{list-style:none}
table,td,input{font-size:12px;padding:0}
select,input,img{vertical-align:middle;}
textarea{resize:none;}
input[type=button]{cursor:pointer;}
a{outline-style:none;color:#333;text-decoration:none; _blr: expression(this.onFocus=this.blur()); *blr: expression(this.onFocus=this.blur());}
a:link,
a:visited{color:#333;}
a:hover,a:active,a:focus{color:#c00;text-decoration:none;}
.red,.red a,.red a:visited{color:#c00;}
.red a:hover{color:#c00;text-decoration:underline;}
.blue,.blue a,.blue a:visited{color:#116fad;}
.blue a:hover{color:#116fad; text-decoration:underline;}
.black,.black a{color:#000;}
.black a:hover{color:#000; text-decoration:underline;}
.white{background:#fff;}
:focus{outline-style: none;}
.show{display:block}
.hidden{display:none}
.hand{cursor:pointer;}
.fontArial{font-family:'Arial';}
.fl{float:left;display:inline;}
.fr{float:right;display:inline;}
.cl{clear:both;font-size:1px;width:1px;height:0;visibility:hidden;margin-top:0px!important;zoom:1;overflow:hidden;line-height:0}
.cf:before,.cf:after{content:"";display:table;}
.cf:after{clear:both;}
.cf{*zoom:1;}
.t_left{text-align:left}
.t_right{text-align:right}
.t_center{text-align:center}
.text-indent{text-indent:2em;}
.blank_1,.blank_2,.blank_3,.blank_5,.blank_7,.blank_8,.blank_9,.blank_10,.blank_15,.blank_20,.blank_25,.blank_30{margin:0 auto;font-size:1px;clear:both;display: block;overflow: hidden;}
.blank_1{height:1px;}
.blank_2{height:2px;}
.blank_3{height:3px;}
.blank_5{height:5px;}
.blank_7{height:7px;}
.blank_8{height:8px;}
.blank_9{height:9px;}
.blank_10{height:10px;}
.blank_15{height:15px;}
.blank_20{height:20px;}
.blank_25{height:25px;}
.blank_30{height:30px;}
.f12{font-size:12px;}
.f14{font-size:14px;}
.f16{font-size:16px;}
.f18{font-size:18px;}
.f20{font-size:20px;}
.t2{text-indent:2em}
.bold{font-weight:bold;}
.normal{font-weight:normal;}
.unl{text-decoration:underline;}
.no_unl{text-decoration:none;}
.lh150{line-height:150%;}
.lh180{line-height:180%;}
.lh200{line-height:200%;}
.lh2{line-height:2em;}
.margin_5{margin:5px;}
.margin_10{margin:10px;}
.margin_20{margin:20px;}
.margin_top{margin-top:10px;}
.margin_right{margin-right:10px;}
.margin_bottom{margin-bottom:10px;}
.margin_left{margin-left:10px;}
.padding_5{padding:5px;}
.padding_10{padding:10px;}
.padding_20{padding:20px;}
.padding_top5{padding-top:5px;}
.padding_top{padding-top:10px;}
.padding_right{padding-right:10px;}
.padding_bottom{padding-bottom:10px;}
.padding_left{padding-left:10px;}
.nopadding{padding:0!important;}
.wid10{width:10px}
.wid20{width:20px}
.wid30{width:30px}
.wid40{width:40px}
.wid50{width:50px}
.wid60{width:60px}
.wid70{width:70px}
.wid80{width:80px}
.wid90{width:90px}
.wid100{width:100px}
.wid150{width:150px}
.wid200{width:200px}
.wid250{width:250px}
.wid300{width:300px}
.wid350{width:350px}
.wid400{width:400px}
.wid450{width:450px}
.wid500{width:500px}
.wid550{width:550px}
.wid600{width:600px}
.wid650{width:650px}
.wid700{width:700px}
.wid750{width:750px}
.wid800{width:800px}
.wid850{width:850px}
.w{width:100%}
.m0{margin:0 auto;}
.m10{margin:10px}
.m15{margin:15px}
.m30{margin:30px}
.mt5{margin-top:5px}
.mt10{margin-top:10px}
.mt15{margin-top:15px}
.mt20{margin-top:20px}
.mt30{margin-top:30px}
.mt50{margin-top:50px}
.mt100{margin-top:100px}
.mb10{margin-bottom:10px}
.mb15{margin-bottom:15px}
.mb20{margin-bottom:20px}
.mb30{margin-bottom:30px}
.mb50{margin-bottom:50px}
.mb100{margin-bottom:100px}
.ml5{margin-left:5px}
.ml10{margin-left:10px}
.ml15{margin-left:15px}
.ml20{margin-left:20px}
.ml30{margin-left:30px}
.ml50{margin-left:50px}
.ml100{margin-left:100px}
.mr5{margin-right:5px}
.mr10{margin-right:10px}
.mr15{margin-right:15px}
.mr20{margin-right:20px}
.mr30{margin-right:30px}
.mr50{margin-right:50px}
.mr100{margin-right:100px}
.p10{padding:10px;}
.p15{padding:15px;}
.p30{padding:30px;}
.pt5{padding-top:5px}
.pt10{padding-top:10px}
.pt15{padding-top:15px}
.pt20{padding-top:20px}
.pt30{padding-top:30px}
.pt50{padding-top:50px}
.pb5{padding-bottom:5px}
.pb10{padding-bottom:10px}
.pb15{padding-bottom:15px}
.pb20{padding-bottom:20px}
.pb30{padding-bottom:30px}
.pb50{padding-bottom:50px}
.pb100{padding-bottom:100px}
.pl5{padding-left:5px}
.pl10{padding-left:10px}
.pl15{padding-left:15px}
.pl20{padding-left:20px}
.pl30{padding-left:30px}
.pl50{padding-left:50px}
.pl100{padding-left:100px}
.pr5{padding-right:5px}
.pr10{padding-right:10px}
.pr15{padding-right:15px}
.pr20{padding-right:20px}
.pr30{padding-right:30px}
.pr50{padding-right:50px}
.pr100{padding-right:100px}
.lh{line-height:24px}
#point{text-align:center;line-height:30px;}
.tm{opacity:0.5;-moz-opacity:0.5;filter:alpha(opacity=50);}
.pTit{word-break:keep-all;white-space:nowrap; text-overflow:ellipsis; overflow:hidden;}
article,aside,dialog,footer,header,section,footer,nav,figure,menu{display:block\9;}
.zwu{line-height:100px;text-align:center;color:#999;font-size:14px;}
.share input{height:20px;width:200px;}