{template "content","header"}
{pc:get sql="select * from v9_category where catid=$catid" return="data" num=1}
{php $data=$data[0]}
<?php
    switch($catid){
      case 193:$image=APP_PATH."statics/mooc/images/muke-bann2.jpg";
      break;
      case 192:$image=APP_PATH."statics/mooc/images/muke-bann3.jpg";
      break;      
      case 190:$image=APP_PATH."statics/mooc/images/muke-bann108.jpg";
      break;      
      case 189:$image=APP_PATH."statics/mooc/images/muke-bann.jpg";
      break;      
      case 191:$image=APP_PATH."statics/mooc/images/muke-bann18.jpg";
      break;
      default:$image=$data['image'];

    }
?>
<div  class="muke-bann-wrap2">

    <div  class="muke-bann">

        <img  src="{$image}" />

    </div>
</div>

<div class="main-wrap">
    <div class="muke-inner">
        <div class="muke-video cf">

            <div class="muke-cou-title"> <a class="checked" href="javascript:;">最新微视频</a></div>
            <div class="blank_10"></div>
            <div class="muke-video-list cf">
                <ul>  
        {pc:content action="category" catid="$catid" order="listorder ASC"}
            {loop $data $v}
                    <li class="teacher"> <a class="fl" href="{$v[url]}"><img src="{$v[image]}" width="99" height="130"></a>
                        <div class="muke-video-info">
                            <a href="{$v[url]}"><h2>{$v[catname]}</h2></a>
                            <p>简介：{$v[description]}</p>
                        </div>
                    </li>
                    {/loop}
                {/pc}
                </ul>
            </div>
            <div class="blank_30"></div>
            <div class="mr30">
                <div class="page fr">
                    {$pages}
                </div>
            </div>
            <div class="blank_30"></div>
        </div>
    </div>
</div>
{template "content","footer"}
</body>
</html>
