{template "content","header"}
<div class="blank_30"></div>
<div class="main-wrap mod-info-wrap cf ">
    <div class="mod-info fr">
        <h2 class="checked">热门新闻</h2>
        <ul class="mod-hot ml10 mt15" id="mod-hot">
                        <li><span>1</span><em class="aem"></em><a href="#">这里是新闻排行榜标题</a></li>
                        <li><span>2</span><em class="aem"></em><a href="#">这里是新闻排行榜标题</a></li>
                        <li><span>3</span><em class="aem"></em><a href="#">这里是新闻排行榜标题</a></li>
                        <li><span>4</span><em class="aem"></em><a href="#">这里是新闻排行榜标题</a></li>
                        <li><span>5</span><em class="aem"></em><a href="#">这里是新闻排行榜标题</a></li>
                        <li><span>6</span><em class="aem"></em><a href="#">这里是新闻排行榜标题</a></li>
                        <li><span>7</span><em class="aem"></em><a href="#">这里是新闻排行榜标题</a></li>
                        <li><span>8</span><em class="aem"></em><a href="#">这里是新闻排行榜标题</a></li>
                        <li><span>9</span><em class="aem"></em><a href="#">这里是新闻排行榜标题</a></li>
                        <li><span>10</span><a href="#">这里是新闻排行榜标题</a></li>
                    </ul>
    </div>
    <div class="mod-list fl">
        <div class="inner">
            <div class="mod-list-title">研究进展</div>
            <div class="blank_15"></div>
            <div class="mod-list-cont">
                <h1>陈玉琨："翻转课堂"：从舶来品到本土化</h1>
                <div class="cont-info">2014-04-18 08:29:17　　来源：中国教育报　　点击：562</div>
                <div class="blank_20"></div>
                <div class="node cf">
                  <p>&quot;翻转课堂&quot;与慕课的有机结合，正形成一场自班级授课制度创建以来基础教育领域的最大革命。中国的基础教育有着自己的鲜明特点，因而，中国基础教育的慕课与&quot;翻转课堂&quot;也有着自己本土化的特色。<br>
                    <br>
                    基于系统设计的碎片化学习方式<br>
                    众所周知，&quot;翻转课堂&quot;起源之一是孟加拉裔的美国人萨尔曼·可汗(Salman Khan)创立的可汗学院(Khan Academy)。2006年11月16日，可汗发布了第一段视频，解释最小公倍数的基本概念。2007年，可汗建立了一个非营利的在线&quot;可汗学院&quot;(www.khanacademy.org)，把他的讲课视频都放在了这个网站上。<br>
                    经过多年的发展，可汗学院也充分地认识到，如果它想成为一个在线的教育机构，而不只是一个为部分学生提供在线学习辅导的机构，课程设计室至关重要。为此，该院为学习者建立了&quot;知识地图&quot;，以帮助他们确定学习的起点。与此同时，他们还开发了为确定学习起点设计的&quot;前置测验(Pretest)&quot;。在学习一个知识点之前，学生需要先做几道作业题，对相关知识掌握情况进行检测。如果学生遇到了问题，可以看视频讲解，也可以看解答的提示。这样，学生看视频上的知识讲解时，就是带着问题来看的，是在进行积极学习。<br>
                    从内容上看，西方的慕课大多数的时候提供的只是碎片化的知识点，是一组可扩充的、形式多样的内容集合，这些内容由一些相关领域的专家、教育家、学科教师提供，汇集成一个中央知识库，就像网站一样。这些内容集合的独特之处在于，能够被&quot;再度组合&quot;——所有的学习资料不必堆砌在一起，而是通过慕课彼此关联。<br>
                    在中国，由于中小学的课程主要是以教学目标或课程标准为基础的，并且我国基础教育的慕课在一开始就与&quot;翻转课堂&quot;的理念联系在一起，形成了以微视频为载体的慕课加&quot;翻转课堂&quot;的先学后教的模式。因而，在提供碎片化知识的同时，让教师与学生共同理解这些知识点之间的内在联系就显得尤为重要。这一模式，我们把它称为&quot;基于系统设计的碎片化学习方式&quot;，这一方式的特点就在于它紧扣教学目标，始终围绕课程标准。借助于系统设计，教师希望帮助学生更准确地把握知识与知识之间的关系，厘清学科的知识结构，使学习变得更有意义。&quot;基于系统设计的碎片化学习方式&quot;与纯粹的碎片化式学习会有一些不同，因而，它在结构形态上与西方基础教育的慕课也有一定的区别。<br>
  <br>
                    学习方式转变促进教学目标提升<br>
                    一般而言，在西方，慕课并没有一个组织者进行课程的顶层设计。起先，它只是为一些热心教育的人士，或者一些领域的专家提供的&quot;志愿者&quot;服务。以微视频为载体的慕课，极大地提升了知识传递的效率，翻转后的课堂使得学校有更多的时间探索综合素质培养的模式。这也必将成为我国慕课与&quot;翻转课堂&quot;的主要特征。<br>
                    当代教育正在从&quot;知识本位&quot;走向&quot;综合素质本位&quot;，即走向知识、能力与情感、态度和价值观融为一体的教育。在&quot;翻转课堂&quot;的教学模式下，知识的掌握，可以通过课前的微视频自学来高效地完成，课堂上多出来的时间，则可以更好地让学生在探究活动中养成科学研究的态度，学会科学研究的方法和相应的技能。而社会人文学科的教学，则可以有更多的时间，让学生在展示、辩论、讨论与交流的过程中，发展学生的洞察力、思辨力和表达力，培养学生相应的情感、态度和价值观。<br>
                    我国基础教育工作者一开始就对这一问题给予了高度关注。在由华东师范大学慕课中心与C20慕课联盟发起的全国中小学教师与高等学校师范生微视频大奖赛中，涌现了一批学生喜闻乐见而又思想性很强的作品。美术、体育等学科的微视频也以一种崭新的方式呈现，受到了学生的欢迎。此外，C20慕课盟校也正在开发一批诸如&quot;中国传统文化&quot;、&quot;社会主义核心价值观&quot;等内容的系列微课。<br>
                    有人担心，慕课提供的只是虚拟的网络环境，它有可能弱化师生之间的交流，从而有可能削弱学校德育。其实，中外中小学的实践表明，慕课加&quot;翻转课堂&quot;的教学模式恰恰为师生间的深度交流提供了更多的可能。</p>
                  <p> 在尊重差异的前提下稳步推进我国课堂改革<br>
                    回顾历史，班级授课制从最初出现到形成制度，花了150多年的时间，以后又经过近150年的探索，1632年，捷克教育家夸美纽斯出版《大教学论》，这本伟大的著作为班级授课制提供了理论依据。<br>
                    其实，班级授课制顺应了时代发展的要求，班级授课制使&quot;一个先生可以同时教几百个学生&quot;成为可能。慕课一个最不寻常之处就在于：它以&quot;将世界上最优质的教育资源传播到地球最偏远的角落&quot;为理想，试图让全球所有的学生都能获得全球顶尖明星教师的免费课程。为此，有人甚至夸张地说，慕课使得全球一门学科只需要一个教师。<br>
                    今天，慕课带来的是超时空的变革。不仅在全球各个角落我们都能享受到优质的教育资源，而且还是移动的，可以走到哪儿学到哪儿，甚至可以反复学，甚至十年二十年后再学。这就是一个巨大的变革，是继班级授课制以来最大的一次革命，它使教育超越了时空的界限，使得优质教育资源全球共享、全民共享。<br>
                    当然，慕课作为班级授课制后最大的一场教育变革也不可能一蹴而就。尤其在中国这样一个地区发展很不平衡，城乡差距极大的国家，慕课的建设不可能在一个早晨就能取得成功。<br>
                    先学后教，被认为是一种比较成功的教学范式。应该说，微视频学习与导学案或讲学稿，都是先学后教的载体，其背后的原理是一样的。导学案或讲学稿产生于中国的农村学校，而视频学习和&quot;翻转课堂&quot;则起源于美国，这在很大程度由于技术条件的差异，导致所使用的工具和载体不同。随着我国经济的发展与网络环境的改善，相信这一差异很快就能得到克服。<br>
                    微视频主导的网络条件下的先学后教，和以往导学案或讲学稿主导下的先学后教的模式有所不同，主要体现在三个方面：<br>
                    讲解生动。视频上，优秀教师生动形象的讲解，显然比起一张纸的导学案或讲学稿来，更讨学生喜欢。<br>
                    反馈及时。无论是课前学习后的作业反馈，还是课堂学习过程中的学习反馈，在网络背景下，都要比纸质的导学案，及时、迅速，并且节省了教师大量的机械批改作业的时间。<br>
                    易保存检索。电子资料比起导学案来，更加易于学生的复习，易于学校的保存与检索。<br>
                    更重要的是，导学案或讲学稿编制的质量更多地依赖于个别学校的个别教师的水平，而微视频则可以动员一个地区，一个国家的力量，借助于无处不在的网络，使最优质的教育资源在一个地区、一个国家甚至在全球得到有效利用。<br>
                    我国地区之间、城乡之间存在巨大差异。在发达地区，学生人手一台平板电脑，而在西部农村地区一所学校也只有几台电脑。这就使得慕课在中国的实施必须采取尊重差异、稳步发展的策略。在教育资源丰富的地区，名校名师积极探索，开发微视频，可以较早获得课堂翻转的经验。中西部农村地区可主动接受名校名师的辐射，利用微视频，让学生充分享受优质教育资源。没有网络条件，人们可以为农村学校提供光盘或U盘，学生可以提前学习微视频。<br>
                    目前我国已经出现了一大批在该领域积极探索的先行者。清华大学附中、华东师范大学二附中、青岛二中等一批著名高中，以及浙江省杭州市育才中学、北京新英才学校与苏州国际外国语学校等民办学校都在慕课与&quot;翻转课堂&quot;领域进行了卓有成效的探索，并且他们正在以一种自觉的社会担当，努力寻求将优质教育资源送往我国中西部农村学校的途径，助推我国中西部农村教育的发展。<br>
                    (华东师范大学终身教授 慕课中心主任 陈玉琨)</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="blank_30"></div>
<div class="muke-footer-wrap">
  <div id="muke-footer">
    <div class="footer-AboutUs"> <a href="page.htm">关于我们</a> <a href="page.htm">加入我们</a> <a href="page.htm">联系我们</a> <a href="#">资源下载</a> </div>
    <div class="footer-left">
      <div class="footer-info"> Copyright ©2014 c20.org.cn　沪ICP备13031008号-1 </div>
    </div>
  </div>
</div>
<script type="text/javascript">
		var aDiv = document.getElementById('muke-head');
		var aLi = aDiv.getElementsByTagName('li');
		for(var i=0;i<aLi.length;i++){
			aLi[i].onmouseover = function(){
				this.className = 'checked';
			}
			if(aLi[i].className==''){
				aLi[i].onmouseout = function(){
					this.className = '';
				}
			}
		} ;

</script>


</body>
</html>