<div class="blank_30"></div>
<div class="muke-footer-wrap">
  <div id="muke-footer">
    <div class="footer-AboutUs">
    {pc:content  action="position" posid="23" order="listorder DESC" num="4"}
        {loop $data $key $val}
            <a href="{$val['url']}">{$val['title']}</a>
        {/loop}
    {/pc}
    </div>
    <div class="footer-left">
      <div class="footer-info"> Copyright ©2014 c20.org.cn　沪ICP备13031008号-1 </div>
    </div>
  </div>
</div>
<script type="text/javascript">
		var aDiv = document.getElementById('muke-head');
		var aLi = aDiv.getElementsByTagName('li');
		for(var i=0;i<aLi.length;i++){
			aLi[i].onmouseover = function(){
				this.className = 'checked';
			}
			if(aLi[i].className==''){
				aLi[i].onmouseout = function(){
					this.className = '';
				}
			}
		} ;
                
            $(function(){
                alert('ready');
		var tabTitle = ".muke-cou-title a";
		var tabContent = ".muke-video-list";
		$(tabTitle + ":first").addClass("checked");
		$(tabContent).not(":first").hide();
		$(tabTitle).unbind("click").bind("click", function(){
		$(this).siblings("a").removeClass("checked").end().addClass("checked");
		var index = $(tabTitle).index( $(this) );
		$(tabContent).eq(index).siblings(tabContent).hide().end().fadeIn(0);
		});
            });
	

</script>