<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>华东师范大学慕课中心</title>
<link rel="stylesheet" type="text/css" href="{APP_PATH}statics/mooc/images/public.css">
<link rel="stylesheet" type="text/css" href="{APP_PATH}statics/mooc/images/muke.css">
<script type="text/javascript" src="{APP_PATH}statics/mooc/images/jquery.min.js"></script>
<script type="text/javascript" src="{APP_PATH}statics/mooc/images/faseSlider.js"></script>
</head>
<body>
<div class="muke-top-wrap">
  <div class="muke-top">
    <div class="blank_10"></div>
    <a class="muke-btn fr">学习平台登录</a>　　<a class="muke-btn fr">视频资源平台</a>
    <div class="muke-search fr">
      <form target="_blank" name="frm" method="get" action="{APP_PATH}index.php" id="form1">
        <input id="key" name="q" type="text" class="txt" value="请输入课程关键字" onblur="if(this.value=='') {this.value='请输入课程关键字';this.style.color='#999';}" onfocus="if(this.value=='请输入课程关键字') {this.value='';this.style.color='#333';}">
        <input type="hidden" name="m" value="mooc"/>
        <input type="hidden" name="c" value="search"/>
        <input class="btn" id="search" type="submit">
      </form>
    </div>
  </div>
</div>
<div class="muke-head-wrap">
  <div id="muke-head"> <a href="index.php" title="华东师范大学慕课中心" class="muke-logo"><img src="{APP_PATH}statics/mooc/images/muke-logo.png"></a>
    <ul class="muke-nav">
        <li <?php if(!isset($_GET['catid'])) echo 'class="checked"';?>><a href="index.php">首页</a></li>
        <li <?php if($_GET['t']=='video') echo 'class="checked"';?>><a href="index.php?m=content&c=mooc&a=lists&t=video&catid=191">微视频资源</a></li>
        {pc:content action="category" catid="188" num="4" order="listorder ASC" return="nav"}
            {loop $nav $r}
            <li <?php if($_GET[catid]==$r[catid]) echo 'class="checked"';?>><a href="{$r[url]}">{$r[catname]}</a></li>
            {/loop}
        {/pc}
        <li <?php if($_GET['t']=='school') echo 'class="checked"';?>><a href="index.php?m=content&c=index&a=lists&t=school&catid=208">参与学校</a></li>
    </ul>
  </div>
</div>