{template "content","header"}
{pc:get sql="select * from v9_category where catid=$catid" return="data" num=1}
{php $data=$data[0]}
<div class="main-wrap">
    <div class="muke-inner">
        <div class="blank_30"></div>
        <div style="border:1px #CCC solid; background-color:#FFF">
            <div class="muke-cou-title">{$data[school_name]}简介</div>
            <div class="muke-school-intr cf">
                <span><img src="{$data[image]}" width="132" height="100" title="{$data[catname]}"></span>
                <p class="fl">{$data[description]}</p>
            </div>

        </div>

        <div class="blank_30"></div>
        <div class="muke-screen-wrap cf">
            <div class="muke-cou-title"> <span class="fl">微视频资源</span> </div>
            <div class="muke-screen">
                <label>学段：</label>
                <div class="screen-inner">  
                    {loop filters('xueduan',$modelid) $r}
                    {$r[menu]}
                    {/loop}
                </div>
            </div>
            <div class="muke-screen">
                <label>科目：</label>
                <div class="screen-inner"> 
                    {loop filters('xueke',$modelid) $r}
                    {$r[menu]}
                    {/loop}
                </div>
            </div>
            <div class="muke-screen">
                <label>年级：</label>
                <div class="screen-inner"> 
                    {loop filters('nianji',$modelid) $r}
                    {$r[menu]}
                    {/loop}
                </div>
            </div>
        </div>
        <div class="blank_30"></div>
        <div class="muke-video cf">
            <div class="muke-cou-title"> <a class="checked">最新微视频</a></div>
            <div class="blank_10"></div>
            <div class="muke-video-list cf">
                <ul>  
                    {php $sql = structure_filters_sql($modelid);}
                    {php $urlrule = makeurlrule()}
                    {pc:content  action="lists" catid="$catid" where="$sql" order="updatetime DESC"  return="info" moreinfo="1" page="$page"  urlrule="$urlrule" num="10"}   
                    {loop $info $v} 
                    {php $img = explode('.',$v[local_video])}
                    {php $src = $img[0]}    
                   
                    <li> <a class="fl" href="{$v[url]}"><img src="{$v[thumb]}" width="132" height="100"></a>
                        <div class="muke-video-info">
                            <h2><a href="{$v[url]}" title="{$v[title]}">{$v[title]}</a></h2>
                            <p>简介：{$v[des]}</p>
                        </div>
                    </li>
                    {/loop}
                {/pc}
                </ul>
            </div>
            <div class="blank_30"></div>
            <div class="mr30">
                <div class="page fr">
                    {$pages}
                </div>
            </div>
            <div class="blank_30"></div>
        </div>
    </div>
</div>
{template "content","footer"}
</body>
</html>