{template "content","header"}
<div class="blank_30"></div>
<div class="main-wrap mod-info-wrap cf ">
    <div class="mod-info fr">
        <h2 class="checked">热门新闻</h2>
        <ul class="mod-hot ml10 mt15" id="mod-hot">
                        <li><span>1</span><em class="aem"></em><a href="#">这里是新闻排行榜标题</a></li>
                        <li><span>2</span><em class="aem"></em><a href="#">这里是新闻排行榜标题</a></li>
                        <li><span>3</span><em class="aem"></em><a href="#">这里是新闻排行榜标题</a></li>
                        <li><span>4</span><em class="aem"></em><a href="#">这里是新闻排行榜标题</a></li>
                        <li><span>5</span><em class="aem"></em><a href="#">这里是新闻排行榜标题</a></li>
                        <li><span>6</span><em class="aem"></em><a href="#">这里是新闻排行榜标题</a></li>
                        <li><span>7</span><em class="aem"></em><a href="#">这里是新闻排行榜标题</a></li>
                        <li><span>8</span><em class="aem"></em><a href="#">这里是新闻排行榜标题</a></li>
                        <li><span>9</span><em class="aem"></em><a href="#">这里是新闻排行榜标题</a></li>
                        <li><span>10</span><a href="#">这里是新闻排行榜标题</a></li>
                    </ul>
    </div>
    <div class="mod-list fl">
        <div class="inner">
            <div class="mod-list-title">通知公告</div>
            <div class="blank_15"></div>
            <ul class="mod-list-inner">
                               <li><span>2014-05-29 09:55:54</span><a href="Detail.htm" title="2014年6月翻转课堂教学观摩研讨会通知（常州北郊初中）">2014年6月翻转课堂教学观摩研讨会通知（常州北郊初中）</a></li>
                                <li><span>2014-05-06 17:52:50</span><a href="Detail.htm" title="2014年5月翻转课堂教学观摩研讨会通知（青岛经济技术开发区实验初级中学）">2014年5月翻转课堂教学观摩研讨会通知（青岛经济技术开发区实验初级中学）</a></li>
                                <li><span>2014-05-04 10:46:30</span><a href="Detail.htm" title="2014年5月翻转课堂教学观摩研讨会通知（青岛二中）">2014年5月翻转课堂教学观摩研讨会通知（青岛二中）</a></li>
                                <li><span>2014-03-26 14:39:06</span><a href="Detail.htm" title="2014年4月翻转课堂教学观摩研讨会通知（金陵中学）">2014年4月翻转课堂教学观摩研讨会通知（金陵中学）</a></li>
                                <li><span>2014-03-26 14:34:48</span><a href="Detail.htm" title="2014年4月翻转课堂教学观摩研讨会通知（南京市游府西街小学）">2014年4月翻转课堂教学观摩研讨会通知（南京市游府西街小学）</a></li>
                                <li><span>2014-02-25 14:10:01</span><a href="Detail.htm" title="China Daily：Shanghai Schools Invest in Online Teac">China Daily：Shanghai Schools Invest in Online Teac</a></li>
                                <li><span>2014-02-25 13:32:36</span><a href="Detail.htm" title="首届全国中小学教师/高等院校师范生微视频大赛颁奖暨慕课学习与翻转课堂教学研讨会举行">首届全国中小学教师/高等院校师范生微视频大赛颁奖暨慕课学习与翻转课堂教学研讨会举行</a></li>
                                <li><span>2014-02-24 10:22:53</span><a href="Detail.htm" title="慕课学习与翻转课堂教学研讨会会议PPT">慕课学习与翻转课堂教学研讨会会议PPT</a></li>
                                <li><span>2014-02-14 09:24:02</span><a href="Detail.htm" title="全国中小学教师/高等院校师范生微视频大奖赛优秀组织奖评审结果">全国中小学教师/高等院校师范生微视频大奖赛优秀组织奖评审结果</a></li>
                                <li><span>2014-02-13 13:45:31</span><a href="Detail.htm" title="全国高等师范院校师范生微视频大奖赛评审结果公告">全国高等师范院校师范生微视频大奖赛评审结果公告</a></li>
                                <li><span>2014-02-13 13:39:29</span><a href="Detail.htm" title="全国中小学教师微视频大奖赛评审结果公告">全国中小学教师微视频大奖赛评审结果公告</a></li>
                                <li><span>2014-01-03 14:20:58</span><a href="Detail.htm" title="关于大奖赛视频提交问题的公告">关于大奖赛视频提交问题的公告</a></li>
                                <li><span>2013-12-09 16:58:36</span><a href="Detail.htm" title="关于首届全国高等师范院校学生"翻转课堂"微视频大奖赛参赛细则的几点说明">关于首届全国高等师范院校学生"翻转课堂"微视频大奖赛参赛细则的几点说明</a></li>
                                <li><span>2013-12-09 16:53:14</span><a href="Detail.htm" title="关于首届全国中小学"翻转课堂"微视频大奖赛参赛细则的几点说明">关于首届全国中小学"翻转课堂"微视频大奖赛参赛细则的几点说明</a></li>
                                <li><span>2013-10-31 10:17:12</span><a href="Detail.htm" title="华东师大考试与评价研究院、华东师大慕课中心成立">华东师大考试与评价研究院、华东师大慕课中心成立</a></li>
                                <li><span>2013-09-29 16:21:55</span><a href="Detail.htm" title="我校牵头成立初中及小学阶段C20慕课联盟">我校牵头成立初中及小学阶段C20慕课联盟</a></li>
                                <li><span>2013-09-02 10:05:26</span><a href="Detail.htm" title="首届全国高等师范院校学生"翻转课堂"微视频大奖赛通知">首届全国高等师范院校学生"翻转课堂"微视频大奖赛通知</a></li>
                                <li><span>2013-08-18 09:00:00</span><a href="Detail.htm" title="C20 慕课联盟（高中）章程">C20 慕课联盟（高中）章程</a></li>
                                <li><span>2013-08-18 09:00:00</span><a href="Detail.htm" title="C20 慕课联盟（初中）章程">C20 慕课联盟（初中）章程</a></li>
                                <li><span>2013-08-18 09:00:00</span><a href="Detail.htm" title="C20 慕课联盟（小学）章程">C20 慕课联盟（小学）章程</a></li>
                            </ul>
            <div class="blank_30"></div>
      <div class="mr30">
        <div class="page fr"><a class="page_no" href="#">上一页</a><a class="checked" href="#">1</a><a href="#">2</a><a href="#">3</a> <span class="fl">...</span> <a href="#">10</a> <a href="#">下一页</a>
          <div class="page_skip"> <span>到</span>
            <input type="text" id="pages" class="skip_txt" value="1">
            <span>页</span> <a href="#"  class="skip_btn">确 定</a> </div>
        </div>
      </div>
      <div class="blank_30"></div>
        </div>
    </div>
</div>
<div class="blank_30"></div>
<div class="muke-footer-wrap">
  <div id="muke-footer">
    <div class="footer-AboutUs"> <a href="page.htm">关于我们</a> <a href="page.htm">加入我们</a> <a href="page.htm">联系我们</a> <a href="#">资源下载</a> </div>
    <div class="footer-left">
      <div class="footer-info"> Copyright ©2014 c20.org.cn　沪ICP备13031008号-1 </div>
    </div>
  </div>
</div>
<script type="text/javascript">
		var aDiv = document.getElementById('muke-head');
		var aLi = aDiv.getElementsByTagName('li');
		for(var i=0;i<aLi.length;i++){
			aLi[i].onmouseover = function(){
				this.className = 'checked';
			}
			if(aLi[i].className==''){
				aLi[i].onmouseout = function(){
					this.className = '';
				}
			}
		} ;

</script>


</body>
</html>