{template "content","header"}
<div  class="muke-bann-wrap2">

    <div  class="muke-bann">

        <img  src="{APP_PATH}statics/mooc/images/muke-bann108.jpg"  width="994"  height="215">

    </div>

</div>
<div class="main-wrap">
  <div class="muke-inner">
        <div class="muke-screen-wrap cf">
            <div class="muke-cou-title"> <span class="fl">微视频大奖赛</span> </div>
            <div class="muke-screen">
                <label>比赛：</label>
                <div class="screen-inner">  
                    {loop filters('match',$modelid) $r}
                        {$r[menu]}
                    {/loop}
                </div>
            </div>
            <div class="muke-screen">
                <label>年份：</label>
                <div class="screen-inner"> 
                    {loop filters('year',$modelid) $r}
                        {$r[menu]}
                    {/loop}
                </div>
            </div>
            <div class="muke-screen">
                <label>奖项：</label>
                <div class="screen-inner"> 
                    {loop filters('prize',$modelid) $r}
                        {$r[menu]}
                    {/loop}
                </div>
            </div>
        </div>
    <div class="blank_30"></div>
    <div class="muke-video cf">
      <div class="muke-cou-title"> <a class="checked">最新微视频</a> </div>
      <div class="blank_10"></div>
            <div class="muke-video-list cf">
                <ul>  
                    {php $sql = structure_filters_sql($modelid);}
                    {php $urlrule = makeurlrule()}
                    {pc:content  action="lists" catid="$catid" where="$sql" order="updatetime DESC"  return="info" moreinfo="1" page="$page"  urlrule="$urlrule" num="10"}   
                    {loop $info $v} 
                    {php $img = explode('.',$v[local_video])}
                    {php $src = $img[0]}    
                   
                    <li> <a class="fl" href="{$v[url]}"><img src="{$v[thumb]}" width="132" height="100"></a>
                        <div class="muke-video-info">
                            <h2><a href="{$v[url]}" title="{$v[title]}">{$v[title]}</a></h2>
                            <p>来 &nbsp; &nbsp; 源：{$v[school]} {$v[tea_name]}</p>
                            <!--<p>播 放 数：{$v[views]}</p>-->
                            <p>发布时间：{date('Y-m-d',$v[inputtime])}</p>
                        </div>
                    </li>
                    {/loop}
                {/pc}
                </ul>
            </div>
      <div class="blank_30"></div>
      <div class="mr30">
        <div class="page fr">
            {$pages}
        </div>
      </div>
      <div class="blank_30"></div>
    </div>
  </div>
</div>
{template "content","footer"}
</body>
</html>