{template "content","header"}
<div class="muke-head-wrap">
  <div id="muke-head"> <a href="index.htm" title="华东师范大学慕课中心" class="muke-logo"><img src="images/muke-logo.png"></a>
    <ul class="muke-nav">
      <li><a href="index.htm">首页</a></li>
      <li><a href="video.htm">微视频资源</a></li>
      <li><a href="flipped.htm">翻转后课堂</a></li>
      <li><a href="teacher.htm">名师名课</a></li>
      <li><a href="starschool.htm">名校名栏</a></li>
      <li><a href="maward.htm">微视频大奖赛</a></li>
      <li><a href="school.htm">参与学校</a></li>
    </ul>
  </div>
</div>
<div class="blank_30"></div>
<div class="main-wrap mod-info-wrap cf ">
    <div class="mod-info fr">
        <h2>关于我们</h2>
        <ul class="mod-info-menu">
            			            <li class="checked"> <a href="#">关于我们</a></li>
			            			            <li> <a href="#">组织架构</a></li>
			            			            <li> <a href="#">专家领导</a></li>
			            			            <li> <a href="#">研究人员</a></li>
			            			            <li> <a href="#">联系我们</a></li>
			            			            <li> <a href="#">加入我们</a></li>
			                    </ul>
    </div>
    <div class="mod-list fl">
        <div class="inner">
            <div class="mod-list-title">关于我们</div>
            <div class="blank_15"></div>
            <div class="mod-list-cont">
                <div class="node cf">
                  <p align="left">　　华东师范大学慕课中心成立于2013年9月。她是以研究与开发基础教育、教师教育&ldquo;慕课（大规模在线开放课程）&rdquo;，并推动慕课在各领域高质量地得到实施的学术性组织。 </p>
                  <p align="left">　　2012年，一场由哈佛、斯坦福、麻省理工等世界顶尖名校掀起的教育风暴——&ldquo;慕课&rdquo;，震动了整个高等教育界，引发了各界的密切关注，唤起了对教学模式的重新审视，标志着教育开始真正走出工业文明，步入信息时代。《纽约时报》将2012年称为&ldquo;慕课(MOOCs)元年&rdquo;。 </p>
                  <p align="left">　　无独有偶，在基础教育界，借助于数字化技术，一场以&ldquo;翻转课堂&rdquo;为手段的变革也迅速地到来。其迅猛的势头预示着：慕课与翻转课堂正形成一场即将到来的教育海啸。 </p>
                  <p align="left">　　华东师范大学作为以服务基础教育为重要任务，以教师教育为特色的高等学校，为顺应这一时代的要求，推动我国基础教育与教师教育的发展，华东师范大学慕课中心将借助大学的学术优势，联合全国高等师范院校与知名中小学，开发高质量在线课程，使优质教育资源为全社会共享；积极探索个别化、自主性与互动式的人才培养模式，提高人才培养质量，推动我国基础教育与教师教育的改革与发展。 </p>
                  <p align="left">　　华东师范大学慕课中心的主要任务是： </p>
                  <p align="left">　　（一）探索大数据时代&ldquo;低负担，高质量&rdquo;的教学手段，开发个别化、自主性与互动式的人才培养模式。 </p>
                  <p align="left">　　（二）从对&ldquo;翻转课堂&rdquo;等的研究切入，组织全国的力量，以各门学科的自身逻辑为依据，开发教学视频、进阶作业、单元诊断与学业评价的方案。 </p>
                  <p align="left">　　（三）组织全国有关中小学开展&ldquo;翻转课堂&rdquo;等的实验研究，积极推动全国各地&ldquo;慕课&rdquo;的建设，为教师教育&ldquo;慕课&rdquo;的建设提供优秀案例。 </p>
                  <p align="left">　　（四）与有关云服务商合作研究视频呈现、现场诊断、及时反馈与后台服务的模式。 </p>
                  <p align="left">　　（五）追踪国际&ldquo;慕课&rdquo;发展的前沿，创造中国&ldquo;慕课&rdquo;的特色。 </p>
                  <p align="left">　　（六）组织全国中小学教师与全国高等师范院校师范生优秀教学微视频的评选活动，不断提升我国各类&ldquo;慕课&rdquo;的质量。</p>
                  <p>&nbsp;</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="blank_30"></div>
<div class="muke-footer-wrap">
  <div id="muke-footer">
    <div class="footer-AboutUs"> <a href="page.htm">关于我们</a> <a href="page.htm">加入我们</a> <a href="page.htm">联系我们</a> <a href="#">资源下载</a> </div>
    <div class="footer-left">
      <div class="footer-info"> Copyright ©2014 c20.org.cn　沪ICP备13031008号-1 </div>
    </div>
  </div>
</div>
<script type="text/javascript">
		var aDiv = document.getElementById('muke-head');
		var aLi = aDiv.getElementsByTagName('li');
		for(var i=0;i<aLi.length;i++){
			aLi[i].onmouseover = function(){
				this.className = 'checked';
			}
			if(aLi[i].className==''){
				aLi[i].onmouseout = function(){
					this.className = '';
				}
			}
		} ;

</script>


</body>
</html>