{template "content","header"}
<div class="blank_30"></div>
<div class="main-wrap mod-info-wrap cf ">
    <div class="mod-info fr">
        <h2 class="checked">热播课程</h2>
        <ul class="mod-hot ml10 mt15" id="mod-hot">
            {pc:content action="hits" catid="$catid" num="10" order="views DESC" return="list"}
            {php $i=1}
            {loop $list $v}
            <li><span>{$i}</span><em class="aem"></em><a href="{$v[url]}">{$v[title]}</a></li>
            {php $i++}
            {/loop}
        </ul>
    </div>
    <div class="mod-list fl">
        <div class="inner">
            <div class="mod-list-title">
                <span>视频播放</span>
            </div>
            <div class="blank_15"></div>
            <div class="mod-list-cont">
                <h1>{$title}</h1>
                <div class="cont-info">
                    <span>播放：<span id="hits"><script language="JavaScript" src="{APP_PATH}api.php?op=count&id={$id}&modelid={$modelid}"></script></span>次</span>
                    <span>{date('Y-m-d',strtotime($updatetime))}</span>
                    <span>关键字：<?php foreach($keywords as $k){echo $k.' ';}?></span>
                    <span>制作人：{$tea_name}</span>
                </div>
                <div class="blank_20"></div>
                <div class="muke-video-play cf">
                	<!--视频播放区-->
                                        <div class="vd_playBox vd_fullPlayBox" style="position:static;"> 
                                            <!--宽屏加vd_fullPlayBox-->
                                            <div class="playBox" style="z-index:1400;position:relative;">
                                                <div id="video" style="width:730;height:430px;"><div id="a1"></div></div>
                                                <!--
                                                上面一行是播放器所在的容器名称，如果只调用flash播放器，可以只用<div id="a1"></div>
                                                -->
                                                <script type="text/javascript" src="{JS_PATH}ckplayer/ckplayer.js" charset="utf-8"></script>
                                                <script type="text/javascript">
                                            var flashvars={
                                                f:'<?php echo $video_url;?>',
                                                c:0,
                                                b:1
                                                };
                                            var params={bgcolor:'#FFF',allowFullScreen:true,allowScriptAccess:'always',wmode:'transparent'};
                                            CKobject.embedSWF('{JS_PATH}ckplayer/ckplayer.swf','a1','ckplayer_a1','730','430',flashvars,params);
                                            /*
                                            CKobject.embedSWF(播放器路径,容器id,播放器id/name,播放器宽,播放器高,flashvars的值,其它定义也可省略);
                                            下面三行是调用html5播放器用到的
                                            */
                                            var video=['<?php echo $video_url;?>->video/mp4','http://www.ckplayer.com/webm/0.webm->video/webm','http://www.ckplayer.com/webm/0.ogv->video/ogg'];
                                            var support=['iPad','iPhone','ios','android+false','msie10+false'];
                                            CKobject.embedHTML5('a1','ckplayer_a1',730,430,video,flashvars,support);                                             </script>
                                            </div>
                                        </div>

                                        <!--/视频播放区--> 
										<div>
										  {if $allow_comment && module_exists('comment')}
  <iframe src="{APP_PATH}index.php?m=comment&c=index&a=init&commentid={id_encode("content_$catid",$id,$siteid)}&iframe=1" width="100%" height="100%" id="comment_iframe" frameborder="0" scrolling="no"></iframe>
  {/if}
										   </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>
{template "content","footer"}


</body>
</html>
