{template "content","header"}

<div class="main-wrap">
  <div class="muke-inner">
  <div class="blank_30"></div>
  <div style="border:1px #CCC solid; background-color:#FFF">
  <div class="muke-cou-title">山东省青岛第二中学简介</div>
  <div class="muke-school-intr cf">
                <span><img src="{APP_PATH}statics/mooc/temp/20131018031143552.jpg" width="190" height="60" title="山东省青岛第二中学"></span>
                <p class="fl">
                    　　山东省青岛第二中学位于青岛崂山区。学校占地264亩，建筑面积9万平米。现有教学班48个，在校学生2400余人，教职工240余人。</p>
            </div>
    
  </div>
  <div class="blank_30"></div>
    <div class="muke-screen-wrap cf">
      <div class="muke-cou-title"> <span class="fl">山东省青岛第二中学视频资源</span> </div>
      <div class="muke-screen">
        <label>专题：</label>
        <div class="screen-inner"> <a href="#" class="checked">青岛二中创新课程</a></div>
      </div>
      <div class="muke-screen">
        <label>科目：</label>
        <div class="screen-inner"> <a href="#" class="checked">全部</a> <a href="#">创新课程</a> <a href="#">语文</a> <a href="#">数学</a> <a href="#">英语</a> <a href="#">物理</a> <a href="#">化学</a> <a href="#">思品</a> <a href="#">政治</a> <a href="#">历史</a> <a href="#">地理</a> <a href="#">科学</a> <a href="#">生物</a> <a href="#">美术</a> <a href="#">书法</a> <a href="#">音乐</a></div>
      </div>
      <div class="muke-screen">
        <label>年级：</label>
        <div class="screen-inner"> <a href="#" class="checked">全部</a> <a href="#">一年级</a> <a href="#">二年级</a> <a href="#">三年级</a> <a href="#">四年级</a> <a href="#">五年级</a> <a href="#">六年级</a> <a href="#">初一</a> <a href="#">初二</a> <a href="#">初三</a> <a href="#">高一</a> <a href="#">高二</a> <a href="#">高三</a> </div>
      </div>
    </div>
    <div class="blank_30"></div>
    <div class="muke-video cf">
      <div class="muke-cou-title"> <a class="checked" href="#">最新微视频</a> <a href="#">最热微视频</a> <span class="fr mr10 f12">共590个视频</span> </div>
      <div class="blank_10"></div>
      <div class="muke-video-list cf">
        <ul>
          <li> <a class="fl" href="play.htm"><img src="temp/ss.jpg" width="132" height="100"></a>
            <div class="muke-video-info">
              <h2><a href="play.htm" title="质量语密度">质量语密度</a></h2>
              <p>来 &nbsp; &nbsp; 源：银川市第十八中学 张嫣雨</p>
              <p>播 放 数：214</p>
              <p>发布时间：2014-06-17</p>
            </div>
          </li>
          <li> <a class="fl" href="play.htm"><img src="temp/ss.jpg" width="132" height="100"></a>
            <div class="muke-video-info">
              <h2><a href="play.htm" title="质量语密度">质量语密度</a></h2>
              <p>来 &nbsp; &nbsp; 源：银川市第十八中学 张嫣雨</p>
              <p>播 放 数：214</p>
              <p>发布时间：2014-06-17</p>
            </div>
          </li>
          <li> <a class="fl" href="play.htm"><img src="temp/ss.jpg" width="132" height="100"></a>
            <div class="muke-video-info">
              <h2><a href="play.htm" title="质量语密度">质量语密度</a></h2>
              <p>来 &nbsp; &nbsp; 源：银川市第十八中学 张嫣雨</p>
              <p>播 放 数：214</p>
              <p>发布时间：2014-06-17</p>
            </div>
          </li>
          <li> <a class="fl" href="play.htm"><img src="temp/ss.jpg" width="132" height="100"></a>
            <div class="muke-video-info">
              <h2><a href="play.htm" title="质量语密度">质量语密度</a></h2>
              <p>来 &nbsp; &nbsp; 源：银川市第十八中学 张嫣雨</p>
              <p>播 放 数：214</p>
              <p>发布时间：2014-06-17</p>
            </div>
          </li>
          <li> <a class="fl" href="play.htm"><img src="temp/ss.jpg" width="132" height="100"></a>
            <div class="muke-video-info">
              <h2><a href="play.htm" title="质量语密度">质量语密度</a></h2>
              <p>来 &nbsp; &nbsp; 源：银川市第十八中学 张嫣雨</p>
              <p>播 放 数：214</p>
              <p>发布时间：2014-06-17</p>
            </div>
          </li>
          <li> <a class="fl" href="play.htm"><img src="temp/ss.jpg" width="132" height="100"></a>
            <div class="muke-video-info">
              <h2><a href="play.htm" title="质量语密度">质量语密度</a></h2>
              <p>来 &nbsp; &nbsp; 源：银川市第十八中学 张嫣雨</p>
              <p>播 放 数：214</p>
              <p>发布时间：2014-06-17</p>
            </div>
          </li>
          <li> <a class="fl" href="play.htm"><img src="temp/ss.jpg" width="132" height="100"></a>
            <div class="muke-video-info">
              <h2><a href="play.htm" title="质量语密度">质量语密度</a></h2>
              <p>来 &nbsp; &nbsp; 源：银川市第十八中学 张嫣雨</p>
              <p>播 放 数：214</p>
              <p>发布时间：2014-06-17</p>
            </div>
          </li>
          <li> <a class="fl" href="play.htm"><img src="temp/ss.jpg" width="132" height="100"></a>
            <div class="muke-video-info">
              <h2><a href="play.htm" title="质量语密度">质量语密度</a></h2>
              <p>来 &nbsp; &nbsp; 源：银川市第十八中学 张嫣雨</p>
              <p>播 放 数：214</p>
              <p>发布时间：2014-06-17</p>
            </div>
          </li>
          <li> <a class="fl" href="play.htm"><img src="temp/ss.jpg" width="132" height="100"></a>
            <div class="muke-video-info">
              <h2><a href="play.htm" title="质量语密度">质量语密度</a></h2>
              <p>来 &nbsp; &nbsp; 源：银川市第十八中学 张嫣雨</p>
              <p>播 放 数：214</p>
              <p>发布时间：2014-06-17</p>
            </div>
          </li>
          <li> <a class="fl" href="play.htm"><img src="temp/ss.jpg" width="132" height="100"></a>
            <div class="muke-video-info">
              <h2><a href="play.htm" title="质量语密度">质量语密度</a></h2>
              <p>来 &nbsp; &nbsp; 源：银川市第十八中学 张嫣雨</p>
              <p>播 放 数：214</p>
              <p>发布时间：2014-06-17</p>
            </div>
          </li>
          
        </ul>
      </div>
      <div class="blank_30"></div>
      <div class="mr30">
        <div class="page fr"><a class="page_no" href="#">上一页</a><a class="checked" href="#">1</a><a href="#">2</a><a href="#">3</a> <span class="fl">...</span> <a href="#">10</a> <a href="#">下一页</a>
          <div class="page_skip"> <span>到</span>
            <input type="text" id="pages" class="skip_txt" value="1">
            <span>页</span> <a href="#"  class="skip_btn">确 定</a> </div>
        </div>
      </div>
      <div class="blank_30"></div>
    </div>
  </div>
</div>
<div class="blank_30"></div>
<div class="muke-footer-wrap">
  <div id="muke-footer">
    <div class="footer-AboutUs"> <a href="page.htm">关于我们</a> <a href="page.htm">加入我们</a> <a href="page.htm">联系我们</a> <a href="#">资源下载</a> </div>
    <div class="footer-left">
      <div class="footer-info"> Copyright ©2014 c20.org.cn　沪ICP备13031008号-1 </div>
    </div>
  </div>
</div>
<script type="text/javascript">
		var aDiv = document.getElementById('muke-head');
		var aLi = aDiv.getElementsByTagName('li');
		for(var i=0;i<aLi.length;i++){
			aLi[i].onmouseover = function(){
				this.className = 'checked';
			}
			if(aLi[i].className==''){
				aLi[i].onmouseout = function(){
					this.className = '';
				}
			}
		} ;

</script>
</body>
</html>