{template "content","header"}
<div class="muke-bann-wrap2">
  <div class="muke-bann"><img  src="{APP_PATH}statics/mooc/images/muke-bann2.jpg" width="994" height="215"></div>
</div>
<div class="main-wrap">
 <div class="muke-inner">
  <div class="muke-video cf">
   <div class="muke-cou-title" style="padding-left:20px"> 名校名栏 <span class="fr mr10 f12">共36所</span> </div>
   <div class="muke-video-list muke-school-list cf">
    <ul class="cf">
     <li><a class="fl husa" href="starschool_info.htm"><img src="temp/20131018031143552.jpg" title="山东省青岛第二中学" width="190" height="60"></a>
      <div class="muke-video-info">
       <p>专栏名称：青岛二中创新课程<br>学校名称：山东省青岛第二中学<br>视频数量：58</p>
      </div>
     </li>
     <li><a class="fl husa" href="starschool_info.htm"><img src="temp/20131018031143552.jpg" title="山东省青岛第二中学" width="190" height="60"></a>
      <div class="muke-video-info">
       <p>专栏名称：青岛二中创新课程<br>学校名称：山东省青岛第二中学<br>视频数量：58</p>
      </div>
     </li>
     <li><a class="fl husa" href="starschool_info.htm"><img src="temp/20131018031143552.jpg" title="山东省青岛第二中学" width="190" height="60"></a>
      <div class="muke-video-info">
       <p>专栏名称：青岛二中创新课程<br>学校名称：山东省青岛第二中学<br>视频数量：58</p>
      </div>
     </li>
     <li><a class="fl husa" href="starschool_info.htm"><img src="temp/20131018031143552.jpg" title="山东省青岛第二中学" width="190" height="60"></a>
      <div class="muke-video-info">
       <p>专栏名称：青岛二中创新课程<br>学校名称：山东省青岛第二中学<br>视频数量：58</p>
      </div>
     </li>
     <li><a class="fl husa" href="starschool_info.htm"><img src="temp/20131018031143552.jpg" title="山东省青岛第二中学" width="190" height="60"></a>
      <div class="muke-video-info">
       <p>专栏名称：青岛二中创新课程<br>学校名称：山东省青岛第二中学<br>视频数量：58</p>
      </div>
     </li>
     <li><a class="fl husa" href="starschool_info.htm"><img src="temp/20131018031143552.jpg" title="山东省青岛第二中学" width="190" height="60"></a>
      <div class="muke-video-info">
       <p>专栏名称：青岛二中创新课程<br>学校名称：山东省青岛第二中学<br>视频数量：58</p>
      </div>
     </li>
    </ul>
   </div>
   <div class="blank_30"></div>
   <div class="mr30">
    <div class="page fr"><a class="page_no" href="javascript:">上一页</a><a class="checked" href="javascript:void(0)">1</a><a href="">2</a> <span class="fl">...</span> <a href="">10</a> <a href="">下一页</a>
     <div class="page_skip"> <span>到</span>
      <input type="text" id="pages" class="skip_txt" value="1">
      <span>页</span> <a class="skip_btn">确 定</a> </div>
    </div>
   </div>
   <div class="blank_30"></div>
  </div>
 </div>
</div>

<div class="blank_30"></div>
<div class="muke-footer-wrap">
  <div id="muke-footer">
    <div class="footer-AboutUs"> <a href="page.htm">关于我们</a> <a href="page.htm">加入我们</a> <a href="page.htm">联系我们</a> <a href="#">资源下载</a> </div>
    <div class="footer-left">
      <div class="footer-info"> Copyright ©2014 c20.org.cn　沪ICP备13031008号-1 </div>
    </div>
  </div>
</div>
<script type="text/javascript">
		var aDiv = document.getElementById('muke-head');
		var aLi = aDiv.getElementsByTagName('li');
		for(var i=0;i<aLi.length;i++){
			aLi[i].onmouseover = function(){
				this.className = 'checked';
			}
			if(aLi[i].className==''){
				aLi[i].onmouseout = function(){
					this.className = '';
				}
			}
		} ;

</script>
</body>
</html>