{template "content","header"}

<div class="main-wrap">
  <div class="muke-inner">
  <div class="blank_30"></div>
  <div class="muke-screen-wrap cf">
      {php $tea_name=$data[tea_name]}
      <div class="muke-cou-title">{$data[school]}{$tea_name}专栏</div>
      <div class="muke-school-intr muke-topTeacher-intr cf">
          <span><img src="{$data[tea_img]}" width="99" height="130"></span>
          <div class="muke-video-info mt10">
              <h2>{$data[tea_name]}</h2>
              <p>学校：{$data[school]}</p>
              <p class="intro" style="height:auto">简介：{$data[tea_des]}</p>
          </div>
      </div>
  </div>
    
    <div class="blank_30"></div>
    <div class="muke-video cf">
      <div class="muke-cou-title"> <a class="checked">最新微视频</a></div>
      <div class="blank_10"></div>
      <div class="muke-video-list cf">
          <ul>
            {php $urlrule = makeurlrule()}
            {loop subcat($catid)  $k $v}
            {php $subcatid[] = $k;}
            {/loop}
            {php $subcatid  = implode(',', $subcatid);}
            {pc:get sql="SELECT * FROM v9_video where status=99 and catid in ($subcatid) and tea_name='$tea_name' order by inputtime DESC" page="$page" return="info" urlrule="$urlrule"}   
                {loop $info $v} 
                <li> <a class="fl" href="{$v[url]}"><img src="{$v[thumb]}" width="132" height="100"></a>
                    <div class="muke-video-info">
                        <h2><a href="{$v[url]}" title="{$v[title]}">{$v[title]}</a></h2>
                        <p>来 &nbsp; &nbsp; 源：{$v[school]} {$v[tea_name]}</p>
                        <!--<p>播 放 数：{$v[views]}</p>-->
                        <p>发布时间：{date('Y-m-d',$v[inputtime])}</p>
                    </div>
                </li>
                {/loop}
            {/pc}
          </ul>
      </div>
      <div class="blank_30"></div>
      <div class="mr30">
        <div class="page fr">
            {$pages}
        </div>
      </div>
      <div class="blank_30"></div>
    </div>
  </div>
</div>
<div class="blank_30"></div>
<div class="muke-footer-wrap">
  <div id="muke-footer">
    <div class="footer-AboutUs"> <a href="page.htm">关于我们</a> <a href="page.htm">加入我们</a> <a href="page.htm">联系我们</a> <a href="#">资源下载</a> </div>
    <div class="footer-left">
      <div class="footer-info"> Copyright ©2014 c20.org.cn　沪ICP备13031008号-1 </div>
    </div>
  </div>
</div>
<script type="text/javascript">
		var aDiv = document.getElementById('muke-head');
		var aLi = aDiv.getElementsByTagName('li');
		for(var i=0;i<aLi.length;i++){
			aLi[i].onmouseover = function(){
				this.className = 'checked';
			}
			if(aLi[i].className==''){
				aLi[i].onmouseout = function(){
					this.className = '';
				}
			}
		} ;

</script>
</body>
</html>