{template "content","header"}
<div class="muke-bann-wrap2">
  <div class="muke-bann"><img  src="{APP_PATH}statics/mooc/images/muke-bann3.jpg" width="994" height="215"></div>
</div>
<div class="main-wrap">
  <div class="muke-inner">
    <div class="muke-cou-title"> <span class="fl" href="">名师名课</span></div>
    <div class="muke-video cf">
      <div class="inner">
        <div class="muke-video-list muke-video-list2 cf" style="padding-left:20px">
          <ul>
            {php $urlrule = makeurlrule()}
            {loop subcat($catid)  $k $v}
            {php $subcatid[] = $k;}
            {/loop}
            {php $subcatid  = implode(',', $subcatid);}
            {pc:get sql="SELECT * FROM v9_video where status=99 and catid in ($subcatid) order by inputtime DESC" page="$page" return="info" urlrule="$urlrule"}   
                {loop $info $v} 
                <li> <a class="fl" href="index.php?m=content&c=mooc&a=subcat&t=teacher_info&catid={$catid}&id={$v[id]}"><img src="{$v[tea_img]}" width="99" height="130"></a>
                  <div class="muke-video-info">
                    <h2><a href="index.php?m=content&c=mooc&a=subcat&t=teacher_info&catid={$catid}&id={$v[id]}" title="{$v[tea_name]}">{$v[tea_name]}</a></h2>
                    <p>学校：{$v[school]}</p>
                    <p>课程：{$v[title]}</p>
                    <p class="intro">简介：{$v[tea_des]}</p>
                  </div>
                </li>
                {/loop}
            {/pc}
          </ul>
        </div>
        <div class="blank_30"></div>
        <div class="mr30">
          <div class="page fr">
              {$pages}
          </div>
        </div>
        <div class="blank_10"></div>
      </div>
    </div>
  </div>
</div>


{template "content","footer"}
</body>
</html>